<div id="<%= dom_id concert %>">
  <tbody>
    <tr>
      <td><%= concert.place %></td>
      <td><%= concert.duration %></td>
      <td><%= concert.concert_date %></td>
      <td><%= concert.attendance %></td>
      <td><%= link_to "Show this concert", concert %></td>
    </tr>
</div>
